<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
<div>Add new book</div>
<br/>
<hr/>
 <form th:method="POST" th:action="@{/books}" th:object="${book}">
     <label for="bookName">Enter name: </label>
     <input type="text" th:field="*{bookName}" id="bookName"/>
     <div th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Name error</div>
     <br/>
     <input type="submit" value="Submit!"/>
 </form>
<form action="/books">
    <button>back</button>
</form>
</body>
</html>